@import "./reset.css";
@import "./fonts.css";
@import "./components/index.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* Variables */
  font-size: 8px;
  /*Colors*/
  --color-primary: #ed1c24;
  --color-black: #191919;
  --color-white: #ffffff;
  --color-darker-gray: #cccccccc;
  --color-ligher-gray: #fafafa;
}

span {
  font-family: "Poppins";
}

p,
a,
span {
  font-size: 2rem;
}

p,
a {
  font-family: "Poppins";
}

.img-logo {
  display: block;
}

.icon {
  stroke: currentColor;
}

/* Main Content */
.main-container {
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 40px;
  display: flex;
  gap: 40px;
}

/* Product Gallery */
.product-gallery {
  display: flex;
  gap: 20px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  outline: 1px solid #ddd;
  cursor: pointer;
  overflow: hidden;
  transition: outline-color 0.2s;
}

.thumbnail:hover,
.thumbnail.active {
  outline-color: #333;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-image {
  flex: 1;
  max-width: 600px;
  aspect-ratio: 3/4;
  background-color: #f5f5f5;
  overflow: hidden;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Product Info */
.product-info {
  flex: 1;
  max-width: 500px;
}

.brand {
  color: #666666;
  font-size: 14px;
  margin-bottom: 8px;
  font-family: "Volkhov";
}

.product-title {
  font-size: 24px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: "Volkhov";
}

.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-button:hover {
  border-color: gray;
}

.icon {
  width: 30px;
  height: 30px;
  stroke: black;
  transition: all 0.3s ease;
}

.circle-button:hover .icon {
  stroke: gray;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.stars {
  color: var(--color-black);
  font-size: 30px;
}

.review-count {
  color: #666;
  font-size: 14px;
}

.price-container {
  margin-bottom: 24px;
}

.current-price {
  font-size: 24px;
  font-weight: 600;
  margin-right: 12px;
}

.original-price {
  color: #999;
  text-decoration: line-through;
}

.save-tag {
  background-color: #da3f3f;
  color: white;
  padding: 2px 8px;
  border-radius: 11px;
  font-size: 12px;
  margin-left: 8px;
}

.viewers {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #666;
  font-size: 14px;
  margin-bottom: 16px;
}

.sale-countdown {
  display: flex;
  justify-content: center;
  gap: 14rem;
  background-color: #fff1f1;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.countdown-title {
  color: #ff706b;
  margin-bottom: 8px;
  font-size: 18px;
  font-family: "Volkhov";
}

.countdown-timer {
  display: flex;
  gap: 8px;
  color: #ff4444;
  font-size: 18px;
  font-weight: bold;
}

.stock-info {
  margin-bottom: 24px;
  font-size: 14px;
  color: #666;
  font-family: "Jost Variable";
}

.stock-info-text {
  font-family: "Jost Variable";
}

.progress-bar {
  height: 4px;
  background-color: #eee;
  border-radius: 2px;
  margin-top: 8px;
}

.progress {
  width: 30%;
  height: 100%;
  background-color: #ff4444;
  border-radius: 2px;
}

/* Size Selector */
.size-selector {
  margin-bottom: 20px;
}

.size-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.size-label-text {
  font-family: "Volkhov";
}

.size-options {
  display: flex;
  gap: 8px;
}

.size-option {
  width: 48px;
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Poppins";
  font-size: 18px;
}

.size-option.selected {
  background-color: var(--color-black);
  color: white;
  border-color: #333;
}

/* Color Selector */
.color-selector {
  margin-bottom: 20px;
}

.color-label {
  margin-bottom: 12px;
  font-size: 16px;
}

.color-options {
  display: flex;
  gap: 8px;
}

.color-option {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.color-option.selected::after {
  content: "";
  position: absolute;
  inset: -3px;
  border: 1px solid #333;
  border-radius: 50%;
}

/* Add to Cart Section */
.quantity-section {
  margin-bottom: 40px;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.quantity-label {
  font-family: "Volkhov", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.quantity-controls {
  display: flex;
  align-items: stretch;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px 8px;
}

.quantity-btn {
  width: 40px;
  border: none;
  background: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.quantity-btn:hover {
  background-color: #f5f5f5;
}

.quantity-input {
  width: 40px;
  border: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  font-family: "Jost Variable", sans-serif;
  font-size: 14px;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart {
  flex: 1;
  padding: 12px 24px;
  border: 1px solid #333;
  border-radius: 4px;
  background: white;
  font-family: "Volkhov", sans-serif;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}

.add-to-cart:hover {
  background: #333;
  color: white;
}

/* Actions */
.product-actions {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  color: var(--color-black);
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-black);
  font-size: 14px;
  font-family: "Jost Variable";
}

/* Shipping Info */
.shipping-info {
  padding: 24px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
}

.shipping-info p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-black);
  font-size: 14px;
  margin-bottom: 8px;
}

.shipping-label {
  font-family: "Volkhov";
}

/* Payment Methods */
.payment-section {
  text-align: center;
}

.payment-methods {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}

.payment-method {
  width: 48px;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
}

.payment-methods img {
  height: 25.23px;
  width: 320px;
  object-fit: contain;
}

.security-note {
  color: var(--color-black);
  font-size: 16px;
  font-family: "Volkhov";
  font-weight: bold;
}
